server:
  address: 127.0.0.1
  port: 8080
  
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/security_demo?useUnicode=yes&characterEncoding=UTF-8&useSSL=false
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
  thymeleaf:
    cache: false
    mode: LEGACYHTML5
